<div class="center bg-light p-*">
  <h1>Where to Camp</h1>

  <h2>
    This is the home page for Where to Camp.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
